albumentations==2.0.6
matplotlib==3.10.3
numpy==1.26.4
h5py>=3.11.0
opencv_python==4.10.0.84
Pillow==11.2.1
pycuda==2025.1
Requests==2.32.3
scikit_learn==1.6.1
segmentation_models_pytorch==0.5.0
setuptools==80.1.0
scikit-image==0.22.0
submitit==1.5.2
tensorrt==10.10.0.31
tensorrt_cu12==10.10.0.31
tomli>=1.2.2
torch==2.1.0
torchvision==0.16.0
tqdm==4.67.1
transformers==4.51.3
typeguard
ultralytics==8.3.129
wrapt>=1.11.0
